﻿@model Character

@{
    int pageItem = ViewBag.page;
    int totalPages = ViewBag.pages;
};

<header>
    <div class="container-fluid text-center mt-2 masthead">
        <h4>all character: </h4>
        <div class="container">
            <p>page @pageItem</p>
            <div class="row d-flex">
                
                @foreach(var Character in @Model.results)
                {
                    <div class="col-sm-4 col-md-4 col-12 p-3 ">
                        <a asp-action="show" asp-route-id="@Character.id"  >
                            <div class="card">
                                <img class="card-img-top" src="@Character.image" alt="Card image cap">
                                <div class="card-body">
                                <h5 class="card-title">location: @Character.location.name</h5>
                                <p class="card-text">gender: @Character.gender</p>
                                <p  class="btn btn-primary bg-white text-black border-0">name: @Character.name</p>
                                </div>                                    
                            </div>
                        </a>
                    </div>
                }   
            </div>
            @if(pageItem > 1)
            {
            <a asp-action="index" asp-route-page="@{var next = pageItem -1; }@next" class="mr-1" >previous page</a>
            }

            @if(pageItem < totalPages)
            {
            <a asp-action="index" asp-route-page="@{var next = pageItem +1; }@next" >next page</a>
            }

          
        </div>
    </div>
</header>