﻿@model CharacterResult

<header>
    <div class="container-fluid text-center mt-2 masthead">
        <div class="container">
            <div class="row d-flex justify-content-center">
                    <div class="col-sm-6 col-md-6 col-12 p-1 ">
                        <a>
                            <div class="card">
                                <img class="card-img-top" src="@Model.image" alt="Card image cap">
                                <div class="card-body">
                                <h5 class="card-title">@Model.name</h5>
                                <p class="card-text">Species is: @Model.species</p>
                                <p  class="btn btn-primary bg-white text-black border-0">Gender: @Model.gender </p>
                                </div>                                    
                            </div>
                        </a>
                    </div>
                
            </div>
        </div>
    </div>
</header>