﻿@model location

<header>
    <div class="container-fluid text-center mt-2 masthead">
        <h4>all location: </h4>
        <div class="container">
            <div class="row d-flex">
                @foreach(var location in @Model.results)
                {
                    <div class="col-sm-4 col-md-4 col-12 p-3 ">
                        <a asp-action="show" asp-route-url="@location.url"  >
                            <div class="card">
                                <div class="card-body">
                                <h5 class="card-title">dimension: @location.dimension</h5>
                                <p class="card-text">type: @location.type</p>
                                <p  class="btn btn-primary bg-white text-black border-0">name: @location.name</p>
                                </div>                                    
                            </div>
                        </a>
                    </div>
                }   
            </div>
        </div>
    </div>
</header>