﻿@using WebApplication1.Models.ViewModels
@model CharacterLocationViewModel

<header>
    <div class="container-fluid text-center mt-2 masthead">
        <h4>last 6 characters on location: @Model.locationResult.name</h4>
        <div class="container">
            <div class="row d-flex justify-content-center">
            
                @foreach(var character in @Model.characterresult.TakeLast(6))
                {
                    <div class="col-sm-4 col-md-4 col-12 p-1  ">
                        <a>
                            <div class="card">
                                <img class="card-img-top" src="@character.image" alt="Card image cap">
                                <div class="card-body">
                                <h5 class="card-title">@character.name</h5>
                                <p class="card-text">Species is: @character.species</p>
                                <p  class="btn btn-primary bg-white text-black border-0">Gender: @character.gender </p>
                                </div>                                    
                            </div>
                        </a>
                    </div>
                }   
            </div>
        </div>
    </div>
</header>


