﻿@using WebApplication1.Models.ViewModels
@model CharacterLocationEpisodeViewModel

<header class="masthead bg-primary text-white text-center">
            <div class="container d-flex align-items-center flex-column">
                <!-- Masthead Avatar Image-->

                <i class="fa-solid fa-laptop-code masthead-avatar mb-5"></i>
                <!-- Masthead Heading-->
                <h1 class="masthead-heading text-uppercase mb-0">The Rick and Morty API</h1>
                <!-- Icon Divider-->
                <div class="divider-custom divider-light">
                    <div class="divider-custom-line"></div>
                    <div class="divider-custom-icon"><i class="fas fa-star"></i></div>
                    <div class="divider-custom-line"></div>
                </div>
                <!-- Masthead Subheading-->
            </div>
        </header>
        <!-- Portfolio Section-->
        <section class="page-section portfolio" id="portfolio">
            <div class="container">
                <!-- Portfolio Section Heading-->
                <h2 class="page-section-heading text-center text-uppercase text-secondary mb-0">Characters</h2>
                <!-- Icon Divider-->
                <div class="divider-custom">
                    <div class="divider-custom-line"></div>
                    <div class="divider-custom-icon"><i class="fas fa-star"></i></div>
                    <div class="divider-custom-line"></div>
                </div>
                <!-- Portfolio Grid Items-->
                <div class="row text-center">

                    @foreach(var characters in Model.Characters.results.Take(6))
                    {
                        <div class="col-sm-4 col-md-4 col-12  p-1 ">
                            
                                <div class="card">
                                    <img class="card-img-top" src="@characters.image" alt="Card image cap">
                                    <div class="card-body">
                                    <h5 class="card-title">@characters.name</h5>
                                    <p class="card-text">his species is: @characters.species</p>
                                    <a asp-action="show" asp-controller="Character" asp-route-id="@characters.id">show character info</a><br><br/>
                                    <a asp-action="show" asp-controller="Location" asp-route-url="@characters.location.url" >last knonw location is @characters.location.name</a>
                                    </div>                                    
                                </div>
                        </div>
                    }
                </div>
                <a asp-controller="Character" asp-action"index" >see more characters</a>

            </div>
        </section>
        <!-- About Section-->
        <section class="page-section bg-primary text-white mb-0" id="about">
            <div class="container">
                <!-- About Section Heading-->
                <h2 class="page-section-heading text-center text-uppercase text-white">location</h2>
                <!-- Icon Divider-->
                <div class="divider-custom divider-light">
                    <div class="divider-custom-line"></div>
                    <div class="divider-custom-icon"><i class="fas fa-star"></i></div>
                    <div class="divider-custom-line"></div>
                </div>
                 
                <!-- location section -->
                 <div class="row text-center">

                    @foreach(var location in Model.location.results.Take(6))
                    {
                        <div class="col-sm-4 col-md-4 col-12  p-1 ">
                                <div class="card text-black">
                                    <div class="card-body">
                                    <h5 class="card-title">@location.name</h5>
                                    <p class="card-text">this location has : @location.residents.Count() residents</p>
                                    <a asp-action="show" asp-controller="Location" asp-route-url="@location.url" class="">check this location out</a>
                                    </div>                                    
                                </div>
                        </div>
                    }
                </div>
                <!-- location end-section -->

                
            </div>
        </section>
        <!-- Contact Section-->
        <section class="page-section" id="contact">
            <div class="container">
                <!-- Contact Section Heading-->
                <h2 class="page-section-heading text-center text-uppercase text-secondary mb-0">Contact Me</h2>
                <!-- Icon Divider-->
                <div class="divider-custom">
                    <div class="divider-custom-line"></div>
                    <div class="divider-custom-icon"><i class="fas fa-star"></i></div>
                    <div class="divider-custom-line"></div>
                </div>
                     <!-- episode section -->
                 <div class="row text-center">

                    @foreach(var episode in Model.episode.results.Take(6))
                    {
                        <div class="col-sm-4 col-md-4 col-12  p-1 ">
                     
                                <div class="card">
                                    <div class="card-body">
                                    <h5 class="card-title">@episode.name</h5>
                                    <p class="card-text">Aired on : @episode.air_date</p>
                                    <a asp-action="show" asp-controller="episode" asp-route-id="@episode.id">check this episode out </a>                                  

                                    </div>                                    
                                </div>
                        </div>
                    }
                </div>
                <!-- epide end-section -->
            </div>
        </section>
        <!-- Footer-->
        <footer class="footer text-center  pb-0 mb-0">
            
        </footer>