﻿@model Episode

<header>
    <div class="container-fluid text-center mt-2 masthead">
        <h4>all episode: </h4>
        <div class="container">
            <div class="row d-flex">
                @foreach(var episode in @Model.results)
                {
                    <div class="col-sm-4 col-md-4 col-12 p-3 ">
                        <a asp-action="show" asp-route-id="@episode.id"  >
                            <div class="card">
                                <div class="card-body">
                                <h5 class="card-title">episode: @episode.episode</h5>
                                <p class="card-text">aired on: @episode.air_date</p>
                                <p class="card-text">there are  characters on this eposde</p>
                                </div>                                    
                            </div>
                        </a>
                    </div>
                }   
            </div>
        </div>
    </div>
</header>